div{
    height:200px;
    width:200px;
    background-color:aqua;
    animation-name: example;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    position: relative;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}
@keyframes example {
    0%   {background-color:aqua;top:0px;left:0px;}
    25%  {background-color:lime;top:0px;left:300px;}
    50%  {background-color:yellow;top:300px;left:0px;}
    75%  {background-color:orange;top:300px;left:300px;}
    100% {background-color:violet;top:0px;left:0px;}
}