body{
    display:flex;
    border:2px solid black;
    justify-content: space-evenly;
    min-height: 500px;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;

}
.box1{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: coral;
}
.box2{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: lightblue;
}
.box3{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: lightgreen;
}
.box4{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: orange;
}
.box5{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: violet;
}
.box6{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: yellow;
}