.container
{
    display:flex;
    gap: 25px;
    justify-content: center;
    border:2px solid black;
    position: relative;
    background-color: chartreuse;
} 
/*@media only screen and (min-width: 400px) and (max-width: 740px)
{
    body
    {
        background-color: red;
    }
}*/
 .box1
{
    width: 400px;
    height: 400px;
    background-color: coral;
    position:absolute;

}
.box2
{
    width: 200px;
    height: 200px;
    background-color: beige;
}
.box3
{
    width: 200px;
    height: 200px;
    background-color:yellow;
}
.box4
{
    width: 200px;
    height: 200px;
    background-color:blueviolet;
} 
.sticky
{
    position:sticky;
    background-color: chocolate;
    top:0;
}