/*div{
    width:200px;
    height:40px;
    background-color:aqua;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 1s;
    transition-timing-function: jump-start;
}
div:hover{
    width:1400px;
    background-color:violet;
}*/
div{
    .blur{filter:blur(4px);}
    .brightness{filter:brightness(250%);}
    .contrast{filter:contrast(180%);}
    .grayscale{filter:grayscale(100%);}
    .hue-rotate{filter:hue-rotate(1800deg);}
    .invert{filter:invert(100%);}
    .opacity{filter:opacity(50%);}
    .saturate{filter:saturate(7);}
    .sepia{filter:sepia(100%);}
    .shadow{filter:drop-shadow(8px 8px 10px green);}
}